<clr-vertical-nav-group>
  <clr-icon shape="view-cards" clrVerticalNavIcon></clr-icon>
  Modèles de messages
  <clr-vertical-nav-group-children>
    <span *ngFor="let categorie of categories">
      <a clrVerticalNavLink
         [routerLink]="['message-models', 'list','category',profil, categorie.id]"
         routerLinkActive="active">
        <span>{{categorie.libelle | capitalizefirst}}</span>
        <span *ngIf="categorie.type==='PROFESSEUR'"> ( Professeur )</span>
        <span *ngIf="categorie.type==='PARENT'"> ( Parent )</span>
    </a>
    </span>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
