<div class="dox-wrapper">
    <div class="dox-wrapper dox-header">
        <section>
                <h1>Valider les envois des professeurs</h1>
        </section>
    </div>

    <section class="dox-content" hash-listener="" style="position:relative;">
        <div class="dox-content-wrapper">
          <article>
            <div class="row" *ngFor="let message of messages">
              <div class="col-sm-12 col-xs-12">
                <div class="card">
                  <div class="card-header">
                    <small><strong><clr-icon shape="user"></clr-icon> {{message.sender.firstname + ' ' + message.sender.lastname}}</strong></small> <br>
                    <small><clr-icon shape="calendar"></clr-icon> Le :{{message.createdOn | date: mediumDate}}</small> |
                    <small><clr-icon shape="calendar"></clr-icon> Pour :{{message.forDate | date: mediumDate}}</small> |
                    <small *ngIf="message.unite"><clr-icon shape="book"></clr-icon> {{message.unite.libelle }}</small><br>
                    <small><strong><clr-icon shape="users"></clr-icon> Destinataires :
                      <span *ngFor="let item of message.niveaux" class="label label-info">{{getNiveauName(item)}}</span>
                      <span *ngFor="let item of message.classes" class="label label-info">{{item.classe.libelle}}</span>
                      <span *ngFor="let item of message.recipients" class="label label-info">{{item.user.firstname + ' ' + item.user.lastname}}</span>
                    </strong></small>
                  </div>
                  <div class="card-block">
                    <div class="card-text">

                    </div>
                    <div class="card-text" [innerHTML]="message.message"></div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-sm btn-link  btn-icon" (click)="enableMessage(message.id)"><clr-icon shape="envelope"></clr-icon> Envoyer</button>
                    <button class="btn btn-sm btn-link btn-icon"><clr-icon shape="check"></clr-icon> Auto-Envoi</button>
                    <button class="btn btn-sm btn-link  btn-icon" (click)="rejectMessage(message.id)"><clr-icon shape="trash"></clr-icon> Rejeter</button>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
    </section>
</div>
