<form *ngIf="entityForm" [formGroup]="entityForm" class="form-validate form-horizontal mb-lg" role="form" name="entityForm"
id="entityForm" novalidate="" (submit)="submitForm($event, entityForm.value)">

<section class="form-block">
    <label>Changer votre mot de passe</label>
    <div class="form-group">
        <label for="oldPassword">Mot de passe actuel</label>
        <label for="oldPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md"  [class.invalid]="isNotValid('oldPassword')">
            <input type="password" id="ville"  placeholder="Entrez le mot de passe actuel" required name="oldPassword" formControlName="oldPassword">
        </label>
    </div>

    <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <label for="newPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="isNotValid('newPassword') || isNotValidConfirmation()">
            <input type="password" id="newPassword" placeholder="Entrez le nouveau mot de passe" required name="newPassword" formControlName="newPassword">
            <span class="tooltip-content">
                Ce champs est obligatoire
            </span>
        </label>
    </div>
    <div class="form-group">
        <label for="confirmation">Confirmation du mot de passe</label>
        <label for="confirmation" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="isNotValid('confirmation') || isNotValidConfirmation()">
            <input type="password" id="confirmation" placeholder="Resaisissez le mot de passe" required name="confirmation"
                formControlName="confirmation">
            <span *ngIf="isNotValidRequired(entityForm.controls['confirmation'])" class="tooltip-content">
                Ce champs est obligatoire
            </span>
        </label>
    </div>
    <div *ngIf="isNotValidConfirmation()" class="alert alert-danger alert-sm">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Le mot de passe et la confirmation ne sont pas identiques
                    </span>
                </div>
            </div>
        </div>
    <div style="text-align: center" *ngIf="submitting">
        <span class="spinner spinner-inline">
            Chargement...
        </span>
        <span>
            Connexion en cours...
        </span>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="submitting">Enregistrer</button>
</section>
</form>