<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a class="nav-link">
        <img style="height:100%;opacity:0.8" src="assets/img/logo-b.png" alt="Tawassol"/>
      </a>
    </div>
    <div class="header-nav">
      <a class=" nav-link nav-icon" routerLink='/prof/communication/send-to-parent' routerLinkActive='active'>
        <clr-icon shape="home"></clr-icon>
      </a>

      <div class="icon-wrapper" >
        <a class=" nav-link nav-icon" routerLink='/admin/notifications' routerLinkActive='active'>
          <clr-icon shape="bell"></clr-icon>
          <span class="badge" *ngIf="notifNumber>0">{{notifNumber}}</span>
        </a>
      </div>

      <span style="background-color: #035e80;line-height: 2.5rem;" class="nav-text">
            <clr-icon shape="calendar"></clr-icon>
            {{ getCurrentAnneScolaire()}}
        </span>

    </div>

    <div class="header-actions">

      <div id="avatar-wrapper" class="flex-items-xs-middle">
        <div id="avatar"></div>
      </div>
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-text" clrDropdownToggle>
          {{ getName()}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a (click)="goToProfile()" clrDropdownItem>Profile</a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" clrDropdownItem>Déconnexion</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="tawassol-area">
       <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
      <clr-vertical-nav-group
        routerLinkActive="active">
        <clr-icon shape="envelope" clrVerticalNavIcon></clr-icon>
        Communiquer
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink
             routerLink="./communication/send-to-parent"
             routerLinkActive="active">
            Communiquer avec les parents
          </a>
          <a clrVerticalNavLink
             routerLink="./communication/inbox"
             routerLinkActive="active">
            Messages reçus
          </a>
          <a clrVerticalNavLink
             routerLink="./communication/history"
             routerLinkActive="active">
            Historique des envois
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <app-categories-message-nav [profil]="'prof'"></app-categories-message-nav>
    </clr-vertical-nav>
  </div>

</clr-main-container>
