<div class="dox-wrapper">
  <div class="dox-wrapper dox-header">
    <section>
      <h1>Communiquer avec les parent</h1>
    </section>
  </div>

  <section class="dox-content" hash-listener="" style="position:relative;">
    <div class="dox-content-wrapper">
      <a id="top"></a>
      <article *ngIf="error">
        <div class="alert alert-danger alert-sm">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                                    {{error}}
                                </span>
            </div>
          </div>
        </div>
      </article>

      <article *ngIf="!error">


        <div class="row">
          <div class="col-xs-12">
            <form *ngIf="entityForm" [formGroup]="entityForm" class="form-validate form-horizontal mb-lg" role="form"
                  name="entityForm"
                  id="entityForm" novalidate="" (submit)="submitForm($event, entityForm.value)">

              <section class="form-block">
                <label>Communiquer avec les parents</label>
                <div class="form-group">
                  <label for="recipients">Destination</label>
                  <!--   <ngx-dropdown-treeview
                     id="recipients"
                     [config]="treeViewConfig"
                     [items]="items"
                     (selectedChange)="onSelectedChange($event)">
                   </ngx-dropdown-treeview> -->
                    <!--<input type="text" id="destination" name="destination" formControlName="destination">-->
                  <clr-tree-node   id="recipients" [(clrSelected)]="cycleSelected">
                    Tout le cycle
                    <ng-template [clrIfExpanded]="true">
                      <clr-tree-node
                        *ngFor="let item of items"
                        [(clrSelected)]="item.checked">
                        {{item.text}}
                        <ng-template [clrIfExpanded]="false">
                          <clr-tree-node *ngFor="let child of item.children" [(clrSelected)]="child.checked">
                            {{child.text}}
                            <ng-template [clrIfExpanded]="false">
                              <app-lazy-loaded-students [classe]="child.value" [childrenReference]="child.children"></app-lazy-loaded-students>
                            </ng-template>
                          </clr-tree-node>
                        </ng-template>
                      </clr-tree-node>
                    </ng-template>
                  </clr-tree-node>
                </div>
                <div *ngIf="isInvalidDestinationControl()" class="alert alert-danger alert-sm"  style="margin-bottom: 30px">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div>
                      <span class="alert-text">Ce champs est obligatoire</span>
                    </div>
                  </div>
                  <div style="margin-bottom: 10px"></div>
                </div>

                <div class="form-group"><label></label> <span *ngFor="let item of getSelected()" class="label label-info">{{item.text}}</span></div>

                <div class="form-group" [class.invalid]="isNotValid('forDate')">
                  <label for="forDate">Pour le</label>
                    <input clrDate type="date" id="forDate" name="forDate" formControlName="forDate" size=35>
                </div>
                <div *ngIf="isNotValid('forDate')" class="alert alert-danger alert-sm" style="margin-bottom: 30px">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div>
                      <span class="alert-text">Ce champs est obligatoire</span>
                    </div>
                  </div>
                </div>


                <div class="form-group"  [class.invalid]="isNotValid('message')">
                  <label for="message">message</label>
                  <app-ngx-editor id="message" [config]="editorConfig" [placeholder]="'Entez votre message ici ...'" [spellcheck]="true" formControlName="message"></app-ngx-editor>
                </div>
                <div *ngIf="isNotValid('message')" class="alert alert-danger alert-sm"  style="margin-bottom: 30px">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div>
                      <span class="alert-text">Ce champs est obligatoire</span>
                    </div>
                  </div>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="submitting">Envoyer</button>
              </section>
            </form>
          </div>
        </div>
      </article>

    </div>
  </section>
</div>
