<div class="content-area">
    <div class=" row">

        <div class="col-lg-3 so-icon.pngcol-md-6 col-sm-6">
            <a routerLink='/admin/communication/send-to-parent'>
                <div class="card clickable">
                    <div class="card-block">
                        <div class="main-icon-wrapper">
                            <clr-icon shape="users" class="main-icon"></clr-icon>
                        </div>
                        <p class="card-text">Communiquer avec les parents &nbsp; &nbsp; &nbsp; </p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <a routerLink='/admin/main'>
                <div class="card clickable">
                    <div class="card-block">
                        <div class="main-icon-wrapper">
                            <clr-icon shape="user" class="main-icon"></clr-icon>
                        </div>
                        <p class="card-text">Communiquer avec les professeurs</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <a routerLink='/admin/main'>
                <div class="card clickable">
                    <div class="card-block">
                        <div class="main-icon-wrapper">
                            <clr-icon shape="check" class="main-icon"></clr-icon>
                        </div>
                        <p class="card-text">Valider les envois des professeurs&nbsp;</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <a routerLink='/admin/main'>
                <div class="card clickable">
                    <div class="card-block">
                        <div class="main-icon-wrapper">
                            <clr-icon shape="history" class="main-icon"></clr-icon>
                        </div>
                        <p class="card-text">Historique des messages &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;   &nbsp;  </p>
                    </div>
                </div>
            </a>

        </div>

    </div>
</div>
