<form *ngIf="entityForm" [formGroup]="entityForm" class="form-validate form-horizontal mb-lg" role="form" name="entityForm"
    id="entityForm" novalidate="" (submit)="submitForm($event, entityForm.value)">

    <section class="form-block">
        <label>Modifier les informations de l'établissement</label>
        <div>
                <div id="school-logo" ></div>   
                <button style="margin-left: 27px;" class="btn btn-sm">Changer</button>   
        </div>
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" id="code" name="code" formControlName="code">
        </div>
        <div class="form-group">
            <label for="nom">Nom de l'établissement</label>
            <input type="text" id="nom" name="nom" formControlName="nom" size=35>
        </div>
        <div class="form-group">
            <label for="codeMassar">Code massar</label>
            <input type="text" id="codeMassar" name="codeMassar" formControlName="codeMassar">
        </div>
        <div class="form-group">
            <label for="adresse">Adresse</label>
            <textarea rows="2" id="adresse" name="adresse" formControlName="adresse"></textarea>
        </div>
        <div class="form-group">
            <label for="villeName">Ville</label>
            <input type="text" id="ville" name="villeName" formControlName="villeName">
        </div>
        <div class="form-group">
            <label for="tel">Teléphone</label>
            <label for="tel" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="isNotValid('tel')">
                <input type="tel" id="tel" placeholder="Entez le numoro du teléphone" required name="tel" formControlName="tel"
                pattern="^(?:0|\(?\+[0-9]{1,3}\)?\s?|00[0-9]{1,3}\s?)[1-79](?:[\.\-\s]?\d\d){4}$">
                <span *ngIf="isNotValidRequired(entityForm.controls['tel'])" class="tooltip-content">
                    Ce champs est obligatoire
                </span>
                <span *ngIf="isNotValidPattern(entityForm.controls['tel'])" class="tooltip-content">
                        Veuillez saisir un numero teléphone valide
                </span>    
            </label>
        </div>
        <div class="form-group">
            <label for="tel2">Teléphone 2</label>
            <label for="tel2" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="isNotValid('tel2')">
                <input type="tel" id="tel2" placeholder="Entez le numoro du telephone" required name="tel2" formControlName="tel2"
                pattern="^(?:0|\(?\+[0-9]{1,3}\)?\s?|00[0-9]{1,3}\s?)[1-79](?:[\.\-\s]?\d\d){4}$" >
                <span *ngIf="isNotValidPattern(entityForm.controls['tel2'])" class="tooltip-content">
                        Veuillez saisir un numero telephone valide
                </span>               
            </label>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="isNotValid('email')">
                <input type="text" id="mail" placeholder="Entrez l'email de l'ecole" required name="email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
                    formControlName="email">
                <span *ngIf="isNotValidRequired(entityForm.controls['email'])" class="tooltip-content">
                    Ce champs est obligatoire
                </span>
                <span *ngIf="isNotValidPattern(entityForm.controls['email'])" class="tooltip-content">
                    Veuillez saisir un email valide
                </span>
            </label>
        </div>
        <div class="form-group">
            <label for="siteWeb">Site web</label>
            <label for="siteWeb" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md"  [class.invalid]="isNotValid('siteWeb')" >
                <input type="url" id="siteWeb" placeholder="Entez le siteWeb de l'école" name="siteWeb"  size="35" formControlName="siteWeb"
                pattern="(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)">
                <span *ngIf="isNotValidPattern(entityForm.controls['email'])" class="tooltip-content">
                        Veuillez saisr un siteWeb valide
                    </span>
            </label>
        </div>
        <div  *ngIf="errorCycles" class="alert alert-danger alert-sm">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            Vous devez selectionner au moin un cycle
                        </span>
                    </div>
                </div>
            </div>
        <div class="form-group" formArrayName="cycles">
            <label>Cycles enseignés</label>
            <clr-checkbox *ngFor="let element of entityForm.get('cycles').controls; let ind = index" [formControl]="element.get('selected')">
                {{ element.value.item.libelle }}
            </clr-checkbox>
        </div>
        <div style="text-align: center" *ngIf="submitting">
            <span class="spinner spinner-inline">
                Chargement...
            </span>
            <span>
                Connexion en cours...
            </span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="submitting">Enregistrer</button>
    </section>
</form>