<form *ngIf="entityForm" [formGroup]="entityForm" class="form-validate form-horizontal mb-lg dox-content-wrapper"
      role="form" name="entityForm"
      id="entityForm" novalidate="" (submit)="submitForm($event, entityForm.value)">

  <section class="form-block">
    <h1>Gestion des unités</h1>

    <div *ngIf="error" class="alert alert-danger alert-sm">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
                        {{error}}
                    </span>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!error" formArrayName="affectationsUnite">
      <div class="col-xs-12 col-md-12">
        <div class="form-group" style="padding-left: 1.5rem;">
          <div class="col-md-4" *ngFor="let element of entityForm.get('affectationsUnite').controls; let ind = index"
               [formGroupName]="ind">
            <clr-checkbox formControlName="enabled"
                          [clrInline]="true">
              {{element.get('unite').value.libelle}}
            </clr-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center" *ngIf="submitting">
            <span class="spinner spinner-inline">
                Chargement...
            </span>
      <span>
                Connexion en cours...
            </span>
    </div>
    <button *ngIf="!error" class="btn btn-primary " type="submit" [clrLoading]="submitting" [disabled]="submitting"
    style="position: absolute;right: 0;">Enregistrer
    </button>
  </section>
</form>
