<form *ngIf="entityForm" [formGroup]="entityForm" class="form-validate form-horizontal mb-lg dox-content-wrapper" role="form" name="entityForm"
    id="entityForm" novalidate="" (submit)="submitForm($event, entityForm.value)">

    <section class="form-block">
        <h1>Gestion des classes</h1>

        <div  *ngIf="error" class="alert alert-danger alert-sm">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{error}}
                    </span>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!error">
            <div class="col-lg-6">
                <h4>Choisir l'appellation</h4>                
                <div class="form-group">
                    <label>Choisir l'appellation des niveaux</label> 
                    <div class="radio" *ngFor="let element of groupeAppelations; let ind = index">
                        <input type="radio" id="radioAppellation{{ind}}" [value]="element" formControlName="groupeAppellation">
                        <label for="radioAppellation{{ind}}"> {{ element.displayName }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Choisir l'appellation des classes</label>
                    <div class="radio">
                        <input type="radio" id="radioAlpha" value="ALPHABETIQUE" formControlName="classeNominationType">
                        <label for="radioAlpha">Alphabétique</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="radioNum" value="NUMERIQUE" formControlName="classeNominationType">
                        <label for="radioNum">Numérique</label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Choisir le nombre de classe par niveau</h4>
                <div class="form-group" *ngFor="let element of entityForm.get('affectationNiveaux').controls; let ind = index">
                    <label class="col-xs-2"></label>
                    <label class="col-xs-4" for="siteWeb">{{getNiveauAppellation(element)}}</label>
                    <label for="siteWeb" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md col-xs-4" [class.invalid]="isNotValidControl(element.get('nombreDeClasse'))">
                        <input class="col-xs-12" type="text" id="siteWeb" placeholder="Entez le siteWeb de l'école" name="siteWeb" size="10" [formControl]="element.get('nombreDeClasse')">
                        <span *ngIf="isNotValidControl(element.get('nombreDeClasse'))" class="tooltip-content">
                            Veuillez saisr un nombre positif
                        </span>
                    </label>
                </div>
            </div>


        </div>

        <div style="text-align: center" *ngIf="submitting">
            <span class="spinner spinner-inline">
                Chargement...
            </span>
            <span>
                Connexion en cours...
            </span>
        </div>
        <button  *ngIf="!error" class="btn btn-primary" type="submit" [disabled]="submitting">Enregistrer</button>
    </section>
</form>