/* You can add global styles to this file, and also import other style files */
.ngx-datepicker-container input.ngx-datepicker-input {
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance : none;
    margin: 0;
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    height: 1rem;
    color: #000;
    display: inline-block;
    min-width: 2.5rem;
    border-bottom: 1px solid #9a9a9a !important;
    padding: 0 .25rem !important;
    background: linear-gradient(180deg,transparent 93%,#0094d2 0) no-repeat;
    background-size: 0% 100%;
    transition: background-size .2s ease;
}
.ngx-datepicker-container input.ngx-datepicker-input:focus {
    background: linear-gradient(180deg,transparent 93%,#0094d2 0) no-repeat;
    background-size: 100% 100%;
    transition: background-size .2s ease;
}

.login-wrapper, .login-wrapper .login {
    height:100% !important;
    min-height: auto !important;
}

.main-icon-wrapper .main-icon {
    width: 80%;
    height: 80%;
}
.main-icon-wrapper {
    text-align: center;
}


#avatar-wrapper #avatar {
    background-image: url(/assets/img/avatar.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin-left: 10px;
    opacity: 0.9;
}

#avatar-wrapper {
    -ms-flex-line-pack: center;
    align-content: center;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    width: 40px;
}


.dox-wrapper {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }
  .dox-header {
    padding-top: 18px;
    -webkit-box-flex: 0;
    padding-left: 36px;
    position: relative;
    flex: 0 0 108px;
    border-bottom: 1px solid rgb(204, 204, 204);
  }
  .dox-content {
    -webkit-box-flex: 1;
    overflow-y: scroll;
    width: 100%;
    max-width: 100%;
    height: 100%;
    flex: 1 1 auto;
    border-top: 1px solid transparent;
  }
  .dox-content-wrapper {
    padding-left: 36px;
    padding-top: 6px;
    padding-bottom: 96px;
    width: 95%;
    height: 100%;
  }

  article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
  }

  .tawassol-area , .tawassol-area .content-area {
      width:100%
  }

  .dox-content-panel {
    display: flex;
    padding: 0px;
    overflow: hidden;
    height: 100%;
  }
  .datagrid-body {
      overflow-y: unset !important;
  }

  /*ngx Editor override*/
.ngx-toolbar {
  font-size: 1em !important;
  padding: 0.2em !important;
}

.ngx-toolbar .ngx-toolbar-set .ngx-editor-button {
  padding: 0.1rem !important;
  min-width: 1.5rem !important;
}

.ngx-toolbar[_ngcontent-c7] {
  font-size: 1em !important;
  padding: .1em !important;
}

.ngx-toolbar button {
  margin: 0px !important;
}

.ngxePopover .btn.btn-primary {
  font-size: 0.5rem !important;
  line-height: 0.45rem !important;
}
.ngxePopover form .form-group {
  margin: 0px !important;
  padding: 0px !important;
}

.ngxe-popover div.extra-gt1 , div.ngxe-popover.extra-gt1, div.ngxe-popover.imgc-ctnr, .ngxe-popover div.extra-gt, div.ngxe-popover.extra-gt {
  min-width: 100% !important;
  padding-top: 0 !important;
}

.ngxePopover form .form-group .form-control-sm, .ngxe-popover.imgc-ctnr .imgc-topbar.two-tabs span  {
  font-size: 0.6rem !important;;
}
.ngxePopover form label {
  font-size: 0.6rem !important;
}

.form-group.invalid label {
  color: #c92100 !important;
  font-weight: bold;
}
.form-group.invalid .ngx-toolbar  {
  background-color: #f5dbd91c !important;
}
