/* You can add global styles to this file, and also import other style files */
.ngx-datepicker-container input.ngx-datepicker-input {
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance : none;
    margin: 0;
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    height: 1rem;
    color: #000;
    display: inline-block;
    min-width: 2.5rem;
    border-bottom: 1px solid #9a9a9a !important;
    padding: 0 .25rem !important;
    background: linear-gradient(180deg,transparent 93%,#0094d2 0) no-repeat;   
    background-size: 0% 100%;      
    transition: background-size .2s ease; 
}
.ngx-datepicker-container input.ngx-datepicker-input:focus {
    background: linear-gradient(180deg,transparent 93%,#0094d2 0) no-repeat;   
    background-size: 100% 100%;
    transition: background-size .2s ease; 
}

.login-wrapper, .login-wrapper .login {
    height:100% !important;
    min-height: auto !important;
}

.main-icon-wrapper .main-icon {
    width: 80%;
    height: 80%;
}
.main-icon-wrapper {
    text-align: center;
}


#avatar-wrapper #avatar {
    background-image: url(/assets/img/avatar.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin-left: 10px;
    opacity: 0.9;
}

#avatar-wrapper {
    -ms-flex-line-pack: center;
    align-content: center;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    width: 40px;
}
